<div class="row">
   <div class="col-xs-12">
       <button class="btn btn-success">New Recipe</button>
   </div>
</div>
<div class="row">
    <div class="recipie-list">
      <div class="recipie"  *ngFor="let recipie of recipes">
            <a href="#" class="list-group-item clearfix">
                <div class="pull-left">
                    <h4 class="list-group-item-heading">{{recipie.name}}</h4>
                    <p class="list-group-item-text">{{recipie.description}}</p>
                </div>
                <span class="pull-right">
                    <img [src]="recipie.imagePath" alt="{{recipie.name}}" class="img-responsive" style="max-height: 50px" />
                </span>
            </a>
      </div>
    </div>
</div>
<app-recepie-item></app-recepie-item>
